#root {
  text-align: center;
  font-size: 18px;
}

.App {
  width: 600px;
  margin: auto;
  border: 1px solid brown;
}

h3 {
  text-align: left;
  margin-left: 50px;
}

.line {
  border-bottom: 1px solid brown;
}

.sentence {
  width: 400px;
  margin: 10px auto;
  text-align: center;
  border: 5px solid black;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}

button {
  width: 100px;
  background-color: khaki;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(49, 13, 13);
  box-shadow: 0 5px lavender;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

#main {
  margin-bottom: 50px;
}

li {
  width: 200px;
  margin: auto;
  font-size: 1.7rem;
  text-align: left;
}