$pc: 1025px; // PC
$tab: 681px; // タブレット
$sp: 481px;  // スマホ

@mixin sp {
	@media screen and (min-width: ($sp)) {
		@content;
  }
}
@mixin tab {
	@media screen and (min-width: ($tab)) {
		@content;
	}
}
@mixin pc {
	@media screen and (min-width: ($pc)) {
		@content;
	}
}
