* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Courier New', Courier, monospace;
	background-color: #F4EEA9;
	color: #333;
}

a:hover {
	cursor: pointer;
}

.navbar {
	display: flex;
	justify-content: space-between;
	height: 70px;
	background-color: #F4AFAB;
	color: #FFF;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline-block;
}

#search {
	top: 20px;
	padding: 0px 50px 0px 8px;
	border: 1px solid gray;
	border-radius: 3px;
	width: 250px;
	height: 30px;
}

.last-child {
	position: relative;
    top: -31px;
    left: 17px;
}

.last-child i {
	position: relative;
	top: 0;
	left: -37px;
	background-color: #fff;
	color: gray;
}

.register {
	float: right;
	margin-right: 15px;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	padding-top: 24px;
}

.content {
	width: 30%;
	display: inline-block;
	margin: 0 18px;
	background-color: white;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 3px;
}

.content img {
	width: 100%;
}

.sub {
	padding: 16px;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 3px;
}

.allArticle {
	width: 45%;
	display: inline-block;
	padding: 20px;
}

.article {
	/* justify-content: space-around; */
	overflow: hidden; 
	 margin-top: 15px;
}

.article p {
	/* margin-left: 90px; */
}

.article img {
	float: left;
}

.categories {
	width: 45%;
    display: inline-block;
    padding: 20px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 5px;
    /* background: red; */
    position: sticky;
    top: 0;
}

footer {
	text-align: center;
	height: 70px;
	background-color: #F4AFAB;
	color: #FFF;
}