* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	background-color: #F4EEA9;
	color: #666;
}

a {
	text-decoration: none;
	color: gray;
}
a:hover {
	cursor: pointer;
	text-decoration: underline;
	opacity: 0.8;
}

.navbar {
	display: flex;
	justify-content: space-between;
	height: 70px;
	/* background-image: linear-gradient(#ffa6a6 0%, #F4AFAB 100%); */
	background-color: #ffa6a6;
	color: #FFF;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline-block;
}

#search {
	padding: 0px 50px 0px 8px;
	border: 1px solid gray;
	border-radius: 3px;
	width: 250px;
	height: 30px;
}

.last-child {
	position: relative;
    top: -30px;
    left: 24px;
}

.last-child i {
	position: relative;
	top: 0;
	left: -37px;
	background-color: #fff;
	color: gray;
}

.register {
	float: right;
	margin-right: 18px;
	font-size: 1.1em;
	color: white;
	padding-top: 24px;
}

h2 {
	font-size: 24px;
	margin-left: 40px;
	font-weight: 700;
}

h3, p {
	padding: 0;
	margin: 10px 20px;
}

h4, h5 {
	display: inline-block;
	margin: 0 20px;
	font-weight: 400;
}

h4 {
	float: left;
}
h4:hover {
	font-weight: bold;
}

h5 {
	float: right;
}

.trending {
	margin-bottom: 24px;
}

.content {
	width: 30%;
	display: inline-block;
	margin: 0 18px;
	background-color: white;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 3px;
}

.content img {
	width: 100%;
}

.sub {
	padding: 16px;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 3px;
}

.allArticle {
	width: 72%;
	display: inline-block;
	padding: 20px;
}

.article {
	overflow: hidden; 
	margin: 15px 10px 10px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #e7e7e7;
}

.article h3 {
	font-size: 0.9em;
	margin-left: 82px;
}

.article p {
	margin-left: 90px;
}

.article img {
	float: left;
}

.categories {
	width: 24%;
	display: inline-block;
	padding: 20px 20px 100px;
	margin-right: 5px;
	border-left: 1px dotted #e7e7e7;
	position: sticky;
	top: 0;
	vertical-align:top;
}

.categories ul {
	list-style: none;
}

.categories li {
	padding: 6px 16px;
	text-transform: capitalize;
}
.categories li:hover {
	background-color: rgba(230, 230, 230, 1);
}

.fas, .fab {
	font-weight: 900;
}

footer {
	text-align: center;
	height: 70px;
	background-color: #ffa6a6;
	color: #FFF;
	padding-top: 28px;
	justify-content: center;
	position: absolute;
	width: 100%;
}




/* article.html CSS below */

.mainArticle {
	width: 845px;
	margin: 30px auto;
	padding: 48px 80px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
}

.mainArticle h1, .mainArticle p {
	text-align: center;
}

.mainArticle .icon {
	border-radius: 50%;
	float: left;
	margin: 12px;
}

.mainArticle ul {
	list-style: none;
	display: inline-block;
	padding: 0;
}

.mainArticle ul li {
	font-size: smaller;
}

.mainArticle .links {
	float: right;
	padding-top: 21px;
	margin-right: 12px;
}

.mainArticle .links .size {
	font-size: 1.7em;
	color: #F4AFAB;
	text-shadow: 1px 1px 1px #fff;

}

.mainPhoto {
	border-radius: 3px;
	display: block;
	margin: auto;
}

.mainArticle h2 {
	text-align: left;
	margin: 100px 10px 30px 0;
	border-bottom: 3px solid #F4CBC6;
}

.mainArticle article {
	text-align: left;
	line-height: 1.5;
	text-indent: 2em;
	margin-bottom: 2.5em;
}


/* profile.html CSS below */

.profile {
	width: 60%;
	margin: 5% auto;
	padding: 5%;
	text-align: center;
}

.profile img {
	border-radius: 50%;
}

.profile p {
	padding-bottom: 10px;
}

.info {
	margin-bottom: 20px;
}

.profile span {
	margin-right: 18px;
}

.profile h6 {
	margin: 10px;
	font-size: 18px;
	font-weight: 400;
}

/* followers.html CSS below */

nav {
	width: 100%;
	margin: 10px auto;
	padding: 36px 15%;
	display: flex;
	position: sticky;
	top: 0;
	vertical-align:top;
	background-color: #F4EEA9;
}

.followers .icon {
	border-radius: 50%;
	float: left;
	margin: 48px 20px 12px 22px
}

.followers ul {
	list-style: none;
	margin: 28px 54px;
	padding: 0;
}

.followers ul li {
	margin-bottom: 0;
}

.allFollower {
	margin-bottom: 50px;
}

.follower {
	width: 80%;
	margin: 3px auto;
	padding: 1px 18px;
	background: #fff;
}

.follower .btn {
	border: 1px solid #fff;
	background-color: #ffa6a6;
	color: white;
	padding: 8px 18px;
	border-radius: 30px;
	float: right;
	margin-right: -17px;
}

.follower .btn2 {
	background-color: #F4CBC6;
}

/* signup.html CSS below */

.signUp {
	background-color: #fff;
	width: 90%;
	margin: 30px auto;
	padding: 80px 25px;
	border: #e7e7e7;
	border-radius: 20px;
	text-align: center;
}

.slts {
	display: inline-block;
	margin-top: 50px;
}
.slt {
	border: 1px solid rgb(184, 184, 184);
	border-radius: 3px;
	padding: 12px 56px;
	margin-bottom: 20px;
	text-align: left;
}
.slt:hover {
	border: 1px solid #666;
}

.check {
	margin: 30px auto;
}

.account {
	font-weight: bold;
	color: #ff9d98;
}

.signUp p {
	width: 51%;
	margin: auto;
}

.close {
	display: block;
	width: 200px;
	margin: 27px auto;
	text-align: center;
}