#root {
  text-align: center;
  font-size: 18px;
}

.sentence {
  width: 400px;
  margin: 10px auto;
  text-align: center;
  border: 5px solid black;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}

button {
  width: 100px;
  background-color: khaki;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(49, 13, 13);
  box-shadow: 0 5px lavender;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}